@page
@model com.adtek.webui.Pages.RegistroModel
@{
}


<h2>Activacion de usuario</h2>

<div>

    <div id="activacionExitosa" class=".hidden-div">
        <p>Estimado <span id="nombre" class="span-name"></span> su cuenta ha sido activadad de clic en:</p>

        <div class="mb-3 text-center">
            <button type="button" class="btn btn-primary" onclick="location.href='/Login'">Continuar</button>
        </div>

    </div>

    <div id="activacionExpirada" class=".hidden-div">
        <p>Estimado usuario la activacion de su cuenta ha expirado, vuelva a intentar general una cuenta: </p>

        <div class="mb-3 text-center">
            <button type="button" class="btn btn-primary" onclick="location.href='/Registro'">Registrar</button>
        </div>

    </div>

</div>

<script src="~/js/Usuarios/ActivarUsuario.js" type="text/javascript"></script>